        <footer>
        <div>
            <a href="/">
                <img src="http://localhost:8000/imagens/logo.png" alt="Logotipo Nosso Morador de Rua" width="130px" height="38px">
            </a>
        </div>
        <div class="o-footer_info">
            <p class="p-footer">Utilize também em sua cidade!</p>
        </div>
        <div class="o-footer_des">
            <p class="p-footer">Desenvolvido por RazBorges</p>
        </div>
    </footer>
</body>
</html>