<%- include('./../modelos/header'); %>
    <div class="o-apresentacao">
        <div class="abertura">
                <img class="o-apresentacao_logo" src="imagens/logo.png" alt="Logotipo Nosso Morador de Rua" width="276px" height="90px">
        </div>
        <div class="o-form cadastro">
            <h1 class="erro">500</h1>
            <h3>Ocorreu um ERRO, desculpe!</h3>
        </div>
    </div>
<%- include('./../modelos/footer'); %>