<%- include('basic/header'); %>
    
    <form method="post" action="/morador">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome do Morador de Rua que deseja cadastrar">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade de origem">
        <label for="uf">Estado</label>
        <input type="text" id="uf" name="uf" placeholder="UF">
        <label for="historico">Sua história</label>
        <textarea name="historico" id="historico" cols="30" rows="10" placeholder="Conte a história deste morador"></textarea>
        <label for="necessidades">Necessidades principais</label>
        <input type="text" name="necessidades" id="necessidades" placeholder="Digite o que ele está necessitando de ajuda">
        <input type="file" name="foto" id="foto">
        <button type="submit">Cadastrar</button>
    </form>

<%- include('basic/footer'); %>