<%- include('basic/header'); %>
    <h1>Nosso Morador de Rua</h1>
    <a href="/morador/cadastro">Adicionar Morador de Rua</a>
    <a href="/morador">Ver Moradores de Rua</a>
    <a href="/instituicao/cadastro">Adicionar Instituição</a>
    <a href="/instituicoes">Ver Instituições</a>
<%- include('basic/footer'); %>