<%- include('modelos/header'); %>

    <div class="o-apresentacao">
        <div class="abertura">
            <% if(validacao.length > 0) { %>
                <div>
                    <ul class="abertura_lista">
                        <li class="lista-abertura alerta"><strong>Atenção:</strong></li>
                        <% for(var i = 0; i < validacao.length; i++) { %>
                            <li class="lista-abertura alerta"><%= validacao[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h1 class="abertura_titulo">Redefinir a minha senha</h1>
                <h3>Digite seu e-mail para redefinir a senha.</h3>
            <% } %>
        </div>
        <div class="o-form cadastro">
            <h3>Esqueci a senha</h3>
            <form class="o-form" action="/alterarsenha" method="post">
                <div class="form-barra">
                    <label type="hidden" for="email"></label>
                    <input class="inp-gd" type="email" id="email" name="email" placeholder="Digite o e-mail de cadastro" value="" autofocus required>
                </div>
                <button class="btn-destaque" type="submit">Redefinir senha</button>
            </form>
        </div>
    </div>

<%- include('modelos/footer'); %>