<%- include('modelos/header'); %>

<div class="o-apresentacao">
    <div class="abertura">
        <img class="o-apresentacao_logo" src="http://localhost:8000/imagens/logo.png" alt="Logotipo Nosso Morador de Rua" width="276px" height="90px">
        <h3>Seu cadastro foi realizado com SUCESSO!</h3>
    </div>
    <div class="o-form cadastro">
        <h3>Você deve realizar o seu login preenchendo os campos acima para acessar o sistema.</h3>
    </div>
</div>

<%- include('modelos/footer'); %>