<%- include('basic/header'); %>

    <form action="/usuario" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="nome@usuario.com.br">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha">
        <button type="submit">Cadastrar</button>
    </form>

<%- include('basic/footer'); %>